body {
  margin: 60px -2px;
  text-align: center;
  background-color: #f5f2fe;
}

h1,
h2,
p {
  color: #e7a0ec;
}

div {
  background-color: #8ef6e4;
  color: #d59bf6;
  border: 2px solid #9896f1;
  display: inline-block;
  width: 120px;
  height: 120px;
  font-size: 60px;
  margin: 1px;
}

p {
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: #9896f1;
}
