body {
  margin: 30px auto;
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(230, 203, 213, 1) 100%
  );
}

h1,
h2,
p {
  color: #e7a0ec;
}

div {
  background-color: #8ef6e4;
  color: #d59bf6;
  border: 2px solid #9896f1;
  display: inline-block;
  width: 120px;
  height: 120px;
  font-size: 50px;
  margin-top: 3px;
}

div:hover {
  cursor: pointer;
  background-color: #7cd6c5;
}

a {
  text-decoration: none;
  color: #9896f1;
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 26px;
  }

  div {
    width: 80px;
    height: 80px;
    font-size: 50px;
  }
}
