body {
  margin: 50px auto;
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(230, 203, 213, 1) 100%
  );
}

h1,
h2,
p {
  color: #e7a0ec;
}

ul.game {
  margin: 0;
  padding: 0;
  width: 365px;
  height: 365px;
  margin: 0 auto;
}

ul.game li {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #8ef6e4;
  color: #d59bf6;
  display: inline-block;
  height: 31.5%;
  width: 31.5%;
  cursor: pointer;
  border: 2px solid #9896f1;
  /* margin-top: 3px; */
  font-size: 100px;
  text-align: center;
}

ul.game li:hover {
  cursor: pointer;
  background-color: #7cd6c5;
}

a {
  text-decoration: none;
  color: #9896f1;
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 26px;
  }

  div {
    width: 70px;
    height: 70px;
    font-size: 50px;
  }
}
